
ul.matches-list, ul.games-list
  margin: 0
  padding: 0

  li
    background: #eee
    border-radius: 5px

    text-align: center
    list-style-type: none
    margin: 0
    padding: 0

  table
    width: 100%
    margin-bottom: 40px
    font-size: larger

    td.avatar
      width: 45%

    .vs
      width: 7em
      font-weight: bold
      text-align: center

    .avatar
      text-align: center
      opacity: 0.5
      img
        width: 80px
        border: 5px solid #fff

    .scores
      .score1, .score2
        font-size: 120%
        font-weight: bold

    &.player1-wins .player1, &.player2-wins .player2
      color: #080
      font-weight: bold
      opacity: 1.0

    &.player1-wins .avatar.player1 img,
    &.player2-wins .avatar.player2 img
      border: 5px solid #080
